<div style="align-items: center; display: flex; flex-direction: column;">
    <a href="{{site.baseurl}}/">
        <img src="{{site.baseurl}}/images/globe.gif" height="120" title="Globe [:" alt="" style="margin-top: -68px; margin-left: 260px;">
    </a>
    <h1>Tri1 Final Game</h1>
    <a href="{{site.baseurl}}/snake">
        <img src="{{site.baseurl}}/images/snake.gif" alt="Snake Game" width="240" height="140">
    </a>
    <a href="{{site.baseurl}}/game2">
        <img src="{{site.baseurl}}/images/download.png" alt="Tri1HorrorGame" width="240" height="140">
    </a>
    <a href="{{site.baseurl}}">Tri2 Final Game</a>
    <a href="{{site.baseurl}}">Tri2 Group Game</a>
    <a href="{{site.baseurl}}">Calculator</a>
    <a href="{{site.baseurl}}">Reflection</a>
    <a href="{{site.baseurl}}/AC_csse.html">Resources</a>
</div>
