<div style="display: flex; align-items: center;">
    <img src="{{site.baseurl}}/images/globe.gif" height="120" title="Globe [:" alt="" style="margin-bottom: 28px; margin-left: -25px;">
    <table style="margin-left: -10px;">
        <tr>
            <td><a href="{{site.baseurl}}/about/">About Me</a></td>
            <td><a href="https://trystan-schmits.github.io/Group//c4.1/2023/10/25/Game.html">Tri1 Final Game</a></td>
            <td><a href="https://nighthawkcoders.github.io/game_levels_mp/2024/01/08/CSSE-oop-game-levels2.html">Tri2Class Game</a></td>
            <td><a href="https://zafeera123.github.io/ZafeerA123//2023/08/31/Snake.html">Snake Game</a></td>
            <td><a href="https://zafeera123.github.io/Personal2//mariogame">Tri2 Group Game</a></td>
        </tr>
    </table>
</div>
