<style>
    .image-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .image-container a {
        text-align: center;
        width: 30%; /* Adjust width as per your preference */
        margin: 10px; /* Add some margin for spacing between images */
        border: 2px solid black; /* Add a black border */
        border-radius: 15px; /* Add curved borders */
        overflow: hidden; /* Ensure curved corners are visible */
    }

    .image-container img {
        width: 100%; /* Make the image fill the container */
        border-radius: 15px; /* Add curved borders to images */
    }
</style>

<table cellpadding="10">
    <tr>
        <td><a href="{{site.baseurl}}/snake">Snake game</a></td>
        <td><a href="{{site.baseurl}}/game">Tri 1 Final Game</a></td>
        <td><a href="https://zafeera123.github.io/ZafeerA123/compsci">Tri1 Website</a></td>
        <td><a href="{{site.baseurl}}/2024/01/08/CSSE-oop-game-levels2.html">Tri2 Final Game</a></td>
        <td><a href="https://ryann96.github.io/Team-Project/mariogame">Tri2 Group Game</a></td>
        <td><a href="{{site.baseurl}}/GuessNumber">Guess The Number</a></td>
        <td><a href="{{site.baseurl}}/GradeCalculator"> Grade Calculator</a></td>
        <td><a href="{{site.baseurl}}/reflection">Reflection</a></td>
        <td><a href="{{site.baseurl}}/resources">Resources</a></td>
        <td><a href="{{site.baseurl}}/KCaPR">Key Commits and Pull Requests</a></td>
        <td><a href="{{site.baseurl}}/NM"> Night of the Museum</a></td>
    </tr>
</table>

<div style="align-items: center; display: flex; flex-direction: column;">
    <a href="{{site.baseurl}}/">
        <img src="{{site.baseurl}}/images/globe.gif" height="150" title="Globe [:" alt="" style="margin-top: -170px; margin-left: 880px;">
    </a>
</div>

<div class="image-container">
    <div>
        <h1>Snake game</h1>
        <a href="{{site.baseurl}}/snake">
            <img src="{{site.baseurl}}/images/Snake.gif" alt="Snake Game">
        </a>
    </div>
    <div>
        <h1>Tri 1 Final Game</h1>
        <a href="{{site.baseurl}}/game">
            <img src="{{site.baseurl}}/images/download.png" alt="Tri1HorrorGame">
        </a>
    </div>
    <div>
        <h1> Tri2 Final Game</h1>
        <a href="{{site.baseurl}}/2024/01/08/CSSE-oop-game-levels2.html">
            <img src="{{site.baseurl}}/images/Tri2Fgame.png" alt="tri2game">
        </a>
    </div>
    <div>
        <h1>Tri 2 Group Game</h1>
        <a href="https://ryann96.github.io/Team-Project/mariogame">
            <img src="{{site.baseurl}}/images/Tri2game.png" alt="tri2fagaem">
        </a>
    </div>
    <div>
        <h1>Personal Project</h1>
        <a href="{{site.baseurl}}/GuessNumber">
            <img src="{{site.baseurl}}/images/GuessNumber.png" alt="Guessnumber">
        </a>
    </div>
    <div>
        <h1>Grade Calculator</h1>
        <a href="{{site.baseurl}}/GradeCalculator">
            <img src="{{site.baseurl}}/images/GradeCalculator.png">
        </a>
    </div>
</div>
